{erl_opts, [debug_info]}.
{deps, [
	{cowboy, {git, "https://github.com/ninenines/cowboy.git", {branch, "master"}}},
	{nitrogen_core, {git, "https://github.com/nitrogen/nitrogen_core.git", {branch, "master"}}}
]}.

{post_hooks, [
	{compile, "mkdir -p ./priv/web_static/nitrogen"},
	{compile, "cp -R ./_build/default/lib/nitrogen_core/www/ ./priv/web_static/nitrogen"}
]}.

{shell, [
    {config, "config/sys.config"},
    {apps, [basic_nitrogen_cowboy]}
]}.
